<div>
  <%= render 'shared/pagination_entries_info', total: @pagination_metadata[:total], page: @pagination_metadata[:page], per: @pagination_metadata[:per] %>

  <div>
    <%= render 'files', files: @files %>
  </div>

  <%= render 'shared/pagination', links: @pagination_metadata[:links] %>
</div>
